@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

button.active {
  background-color: rgb(255, 255, 255, 0.8);
  color: purple;
}

button.dark-mode-active {
  background-color: #1e1b29;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "SUSE", system-ui;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container {
  padding: 20px;
}

.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
}

.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f0f0f0;
}

b {
  text-decoration: underline;
  color: purple;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e0b2ff;
}

::-webkit-scrollbar-thumb {
  background: #7a4c99;
}

::-webkit-scrollbar-thumb:hover {
  background: purple;
}
